.App {
  text-align: center;
};

.top-menu {
  position: fixed;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.search-bar {
  max-width: 60%;
}

.content {
  padding-top: 15vh;
  background-color: gainsboro;
  max-width: 95vw;
  justify-self: center;
}
